<nav
  class="bg-white border-gray-200 dark:bg-gray-900 mx-auto w-full max-w-full sm:flex sm:items-center sm:px-4 md:py-3 lg:py-2 md:justify-between xl:py-3 xl:max-w-screen-2xl"
>
  <div class="flex items-center justify-between gap-2 px-4 py-3 sm:p-0">
    <div>
      <a
        *ngIf="userDetails.roles.includes('RECLUTADOR')"
        (click)="onButtonClick()"
        class="inline-block text-md font-medium text-center text-[#0B85C3] bg-white border border-[#84c2e0] focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-[#c7e2f0] rounded-lg py-2.5 px-5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 cursor-pointer"
      >
        + Nuevo Talento
      </a>
      <span
        *ngIf="!userDetails.roles.includes('RECLUTADOR')"
        class="text-base text-gray-600 dark:text-gray-400"
        >{{ searchResult }}</span
      >
    </div>
    <div class="sm:hidden">
      <button
        type="button"
        class="block text-gray-500 hover:text-gray-600 font-medium text-4xl focus:outline-none"
        (click)="isNavOpen()"
      >
        <span *ngIf="isOpen" class="fa-solid fa-xmark fill-current"></span>
        <span *ngIf="!isOpen" class="fa-solid fa-bars fill-current"></span>
      </button>
    </div>
  </div>
  <div
    class="sm:flex w-auto md:flex-row"
    [ngClass]="{
      'flex justify-center': isOpen === true,
      hidden: isOpen === false
    }"
  >
    <form
      [formGroup]="myForm"
      (ngSubmit)="onSave()"
      class="flex justify-around gap-2 items-center flex-col lg:flex-row lg:gap-6"
    >
      <!-- Filtros de busqueda -->
      <div class="flex items-center w-full">
        <ul
          class="flex flex-col justify-center w-full min-w-72 max-w-full mx-auto gap-4 p-4 mt-4 sm:w-auto sm:flex-row sm:justify-between sm:items-center sm:mt-0 sm:p-0 md:w-auto lg:gap-6 font-medium bg-white dark:bg-gray-800 md:dark:bg-gray-900"
        >
          <li class="block text-nowrap">
            <app-button-dropdown
              buttonId="skillsDropdown"
              dropdownToggle="skillsCheckbox"
              buttonName="Habilidades"
            ></app-button-dropdown>
            <!-- Dropdown menu -->
            <app-checkbox-dropdown-modal
              (selectedSkillsChange)="technicalSkills.setValue($event)"
              modalId="skillsCheckbox"
              labelledby="skillsDropdown"
              [skills]="skills"
            >
            </app-checkbox-dropdown-modal>
          </li>
          <li class="block text-nowrap">
            <app-button-dropdown
              buttonId="languageCheckbox"
              dropdownToggle="languageDropdown"
              buttonName="Nivel de inglés"
            ></app-button-dropdown>
            <!-- Dropdown menu -->
            <app-checkbox-dropdown-select-data-modal
              modalId="languageDropdown"
              labelledby="languageCheckbox"
              [data]="levels"
              [labelKey]="'level'"
              (optionSelected)="handleOptionSelected($event)"
            ></app-checkbox-dropdown-select-data-modal>
          </li>
          <li class="block text-nowrap">
            <app-button-dropdown
              buttonId="favoriteCheckbox"
              dropdownToggle="favoriteDropdown"
              buttonName="Favoritos"
            ></app-button-dropdown>
            <app-checkbox-dropdown-select-prev-modal
              modalId="favoriteDropdown"
              labelledby="favoriteCheckbox"
              [data]="listByUSer"
            ></app-checkbox-dropdown-select-prev-modal>
          </li>
        </ul>
      </div>

      <!-- Barra de busqueda, boton buscar-->
      <div class="flex w-full justify-center gap-8 sm:gap-4">
        <div class="relative md:block flex items-center">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
            <span class="sr-only">Search icon</span>
          </div>
          <input
            type="text"
            id="search-navbar"
            class="block w-[200px] sm:w-52 lg:w-56 xl:w-96 lg:max-w-full p-2 ps-10 text-lg text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Buscar nuevo talento o puesto"
            formControlName="data"
          />
        </div>
        <button
          type="submit"
          class="text-md font-medium text-white bg-[#009688] hover:bg-[#203634] focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg px-4 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
          Buscar
        </button>
      </div>
    </form>
  </div>
</nav>
