<div
  class="max-h-full max-w-full overflow-y-auto p-1 scroll-smooth scrollbar-thin scrollbar-thumb-orange bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex flex-col justify-center flex-1 flex-grow-1">
    <app-profile
      [name]="talent?.name || ''"
      [image]="talent?.image || ''"
      [iconEditImg]="true"
      [country]="talent?.country || ''"
      [city]="talent?.city || ''"
      [stack]="talent?.profile || ''"
      [initialMont]="talent?.initialAmount || 0"
      [finalMont]="talent?.finalAmount || 0"
      [iconEditMont]="true"
      [feedbackNumber]="2"
      [githubLink]="talent?.githubLink || ''"
      [linkedinLink]="talent?.linkedinLink || ''"
      [currency]="talent?.currency || ''"
      [currencyId]="talent?.currencyId || 0"
      [options]="true"
    ></app-profile>

    <div class="flex w-full p-1 gap-2 relative">
      <div
        *ngFor="let file of talent?.filesList || []; let i = index"
        class="flex items-center w-full p-2"
      >
        <div
          class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        >
          <a
            [href]="sanitizePdfUrl(file.file)"
            target="_blank"
            class="flex flex-col items-center justify-center"
          >
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">{{ file.fileName }}</span>
            </p>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">{{
                file.fileType.toUpperCase()
              }}</span>
            </p>
          </a>
        </div>
      </div>

      <div class="flex items-center w-full p-1">
        <button
          for="dropzone-file3"
          data-modal-target="new-file-modal-form"
          data-modal-toggle="new-file-modal-form"
          class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        >
          <div class="flex flex-col items-center justify-center">
            <svg
              class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span>
            </p>
          </div>
        </button>
      </div>
    </div>
    <div class="flex items-center justify-start w-full h-full p-1 gap-2">
      <div class="flex flex-col justify-start min-h-[120px] w-7/12 gap-1 p-2">
        <div class="flex items-center justify-between gap-2">
          <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
            Habilidades Técnicas
          </h4>
          <button
            data-modal-target="technical-skills-modal"
            data-modal-toggle="technical-skills-modal"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>
        <app-pill-tag-component [variant]="'blue'" [data]="technicalSkills">
        </app-pill-tag-component>
      </div>
      <div class="flex flex-col justify-start min-h-[120px] w-5/12 gap-1 p-2">
        <div class="flex items-center justify-between gap-2">
          <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
            Habilidades Blandas
          </h4>
          <button
            data-modal-target="soft-skills-modal"
            data-modal-toggle="soft-skills-modal"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>
        <app-pill-tag-component [variant]="'pink'" [data]="softSkills">
        </app-pill-tag-component>
      </div>
    </div>
    <!-- <div
            class="flex flex-col items-start justify-between w-5/6 gap-2 p-4"
          > -->
    <div class="grid grid-cols-1 gap-6 ms-4 me-4 md:me-32">
      <div class="w-full flex gap-1">
        <p class="text-md text-gray-600 dark:text-gray-400">
          {{ description }}
        </p>
        <button
          class="flex items-center"
          data-modal-target="description-modal"
          data-modal-toggle="description-modal"
          (click)="editDescription()"
        >
          <span
            class="material-symbols-outlined text-gray-600 dark:text-slate-100"
          >
            edit
          </span>
        </button>
      </div>

      <div class="flex flex-col justify-center w-full gap-2">
        <div class="flex justify-between items-center">
          <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
            Experiencia
          </h4>
          <button
            [attr.data-modal-target]="talent?.id + '-add-work-experience-modal'"
            [attr.data-modal-toggle]="talent?.id + '-add-work-experience-modal'"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>

        <div
          [id]="experience.id"
          *ngFor="let experience of processedWorkExperiences; let i = index"
          class="flex justify-start items-center p-2 gap-2 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
        >
          <img
            class="h-12 rounded-full"
            src="../../../assets/fractal (1).png "
            alt=""
          />
          <div class="flex justify-between items-center w-full">
            <div class="flex flex-col justify-center item">
              <h1 class="font-medium text-xl text-black dark:text-gray-400">
                {{ experience.company }}
              </h1>
              <div class="flex justify-between gap-2 w-full">
                <p class="text-md font-normal text-gray-500 dark:text-gray-400">
                  {{ experience.description }}
                </p>
              </div>
            </div>
            <button
              [attr.data-modal-target]="
                'edit-work-experience-modal-' + experience.id + talent?.id
              "
              [attr.data-modal-toggle]="
                'edit-work-experience-modal-' + experience.id + talent?.id
              "
            >
              <span
                class="material-symbols-outlined text-gray-600 dark:text-slate-100"
              >
                edit
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center w-full gap-2">
        <div class="flex justify-between items-center">
          <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
            Educación
          </h4>
          <button
            [attr.data-modal-target]="
              talent?.id + '-add-educational-experience-modal'
            "
            [attr.data-modal-toggle]="
              talent?.id + '-add-educational-experience-modal'
            "
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>

        <div
          [id]="experience.id"
          class="flex justify-start items-center p-2 gap-2 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
          *ngFor="
            let experience of processeEducationalExperiences;
            let i = index
          "
        >
          <img
            class="h-12 rounded-full"
            src="../../../assets/fractal (1).png "
            alt=""
          />
          <div class="flex justify-between items-center w-full">
            <div class="flex flex-col justify-center item">
              <h1 class="font-medium text-xl text-black dark:text-gray-400">
                {{ experience.educationalInstitute }}
              </h1>
              <div class="flex justify-between gap-2 w-full">
                <p class="text-md font-normal text-gray-500 dark:text-gray-400">
                  {{ experience.description }}
                </p>
              </div>
            </div>
            <button
              [attr.data-modal-target]="
                'edit-educational-experience-modal-' +
                experience.id +
                talent?.id
              "
              [attr.data-modal-toggle]="
                'edit-educational-experience-modal-' +
                experience.id +
                talent?.id
              "
            >
              <span
                class="material-symbols-outlined text-gray-600 dark:text-slate-100"
              >
                edit
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center w-full gap-2">
        <div class="flex justify-between items-center">
          <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
            Idiomas
          </h4>
          <button
            [attr.data-modal-target]="
              talent?.id + '-add-language-experience-modal'
            "
            [attr.data-modal-toggle]="
              talent?.id + '-add-language-experience-modal'
            "
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>

        <div
          *ngFor="let language of processeLanguages; let i = index"
          [id]="language.id"
          class="flex justify-start items-center p-2 gap-4 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
        >
          <div class="flex flex-col justify-center item">
            <h1 class="font-medium text-xl text-black dark:text-gray-400">
              {{
                language.language.charAt(0).toUpperCase() +
                  language.language.slice(1).toLowerCase()
              }}
            </h1>
            <div class="flex justify-between gap-2 w-full">
              <p class="text-md font-normal text-gray-500 dark:text-gray-400">
                {{
                  language.level.charAt(0).toUpperCase() +
                    language.level.slice(1).toLowerCase()
                }}
              </p>
            </div>
          </div>
          <div class="flex justify-between items-center w-full">
            <div class="flex items-center justify-start">
              <app-rating
                [maxRating]="5"
                [currentRating]="language.numberOfStars"
                [readonly]="true"
                [ngClass]="'flex items-center'"
                [uniqueId]="language?.id?.toString()"
              ></app-rating>
            </div>
            <button
              [attr.data-modal-target]="
                'edit-language-experience-modal-' + language.id + talent?.id
              "
              [attr.data-modal-toggle]="
                'edit-language-experience-modal-' + language.id + talent?.id
              "
            >
              <span
                class="material-symbols-outlined text-gray-600 dark:text-slate-100"
              >
                edit
              </span>
            </button>
          </div>
        </div>
      </div>
      <app-add-edit-feedback
        main_title="Feedback"
        title="Cesar Ortiz"
        description="Ayudo siempre al equipo, es muy talentoso."
        [modal_id]="'feedback-modal-form'"
        modal_add_title="Agrega un nuevo feedback"
        modal_add_description="Añade un puntaje y escribe un comentario."
        [has_image]="true"
        [number_items]="1"
        type="feedback"
      ></app-add-edit-feedback>
    </div>
  </div>
</div>

<app-add-work-experiences-form
  [modal_id]="talent?.id + '-add-work-experience-modal'"
></app-add-work-experiences-form>
<app-add-educational-experiences-form
  [modal_id]="talent?.id + '-add-educational-experience-modal'"
>
</app-add-educational-experiences-form>

<app-add-language
  [modal_id]="talent?.id + '-add-language-experience-modal'"
  [languages]="languageOptions"
  [levels]="levelOptions"
></app-add-language>

<ng-container
  *ngFor="let experience of processedWorkExperiences; let i = index"
>
  <app-edit-work-experiences-form
    [modal_id]="'edit-work-experience-modal-' + experience.id + talent?.id"
    [workExperience]="experience"
    [id]="experience.id || 0"
  ></app-edit-work-experiences-form>
</ng-container>
<ng-container
  *ngFor="let experience of processeEducationalExperiences; let i = index"
>
  <app-edit-educational-experiences-form
    [modal_id]="
      'edit-educational-experience-modal-' + experience.id + talent?.id
    "
    [educationalExperience]="experience"
    [id]="experience.id || 0"
  ></app-edit-educational-experiences-form>
</ng-container>

<ng-container *ngFor="let language of processeLanguages; let i = index">
  <app-edit-language
    [modal_id]="'edit-language-experience-modal-' + language.id + talent?.id"
    [languageList]="language"
    [languageOptions]="languageOptions"
    [levelOptions]="levelOptions"
    [id]="language.id || 0"
  ></app-edit-language>
</ng-container>
