<div
  class="max-h-full max-w-full overflow-y-auto p-1 scroll-smooth scrollbar-thin scrollbar-thumb-orange bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex flex-col justify-center flex-1 flex-grow-1">
    <app-profile
      [name]="talent?.name || ''"
      [paternalSurname]="talent?.paternalSurname || ''"
      [cellphoneNumber]="talent?.cellPhoneNumber || ''"
      [image]="talent?.image || ''"
      [iconEditImg]="true"
      [country]="talent?.country || ''"
      [city]="talent?.city || ''"
      [stack]="talent?.profile || ''"
      [initialMont]="talent?.initialAmount || 0"
      [finalMont]="talent?.finalAmount || 0"
      [iconEditMont]="true"
      [feedbackNumber]="processeFeedback.length || 0"
      [githubLink]="talent?.githubLink || ''"
      [linkedinLink]="talent?.linkedinLink || ''"
      [currency]="talent?.currency || ''"
      [currencyId]="talent?.currencyId || 0"
      [averageRating]="talent?.averageRating || 0"
      [talentId]="talent?.id || 0"
      [options]="true"
    ></app-profile>

    <div
      class="flex w-full p-1"
      [ngClass]="{
        'gap-2':
          userDetails.roles.includes('RECLUTADOR') || talentFileList.length > 1
      }"
    >
      <div
        class="flex items-center w-full p-1"
        *ngIf="talentFileList.length > 1"
      >
        <app-carousel
          [items]="talentFileList"
          [id]="talent?.id || 0"
          class="w-full"
        ></app-carousel>
      </div>
      <div
        class="flex items-center w-full p-1"
        *ngIf="userDetails.roles.includes('RECLUTADOR')"
      >
        <button
          for="dropzone-file3"
          data-modal-target="new-file-modal-form"
          data-modal-toggle="new-file-modal-form"
          class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        >
          <div class="flex flex-col items-center justify-center">
            <svg
              class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span>
            </p>
          </div>
        </button>
      </div>
    </div>
    <div class="flex items-center justify-start w-full h-full p-1 gap-2">
      <div class="flex flex-col justify-start min-h-[120px] w-7/12 gap-1 p-2">
        <div class="flex items-center justify-between gap-2">
          <h4 class="font-semibold text-gray-500 dark:text-gray-400">
            Habilidades Técnicas
          </h4>
          <button
            data-modal-target="technical-skills-modal"
            data-modal-toggle="technical-skills-modal"
            *ngIf="userDetails.roles.includes('RECLUTADOR')"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>
        <app-pill-tag-component [variant]="'blue'" [data]="technicalSkills">
        </app-pill-tag-component>
      </div>
      <div class="flex flex-col justify-start min-h-[120px] w-5/12 gap-1 p-2">
        <div class="flex items-center justify-between gap-2">
          <h4 class="font-semibold text-gray-500 dark:text-gray-400">
            Habilidades Blandas
          </h4>
          <button
            *ngIf="userDetails.roles.includes('RECLUTADOR')"
            data-modal-target="soft-skills-modal"
            data-modal-toggle="soft-skills-modal"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>
        <app-pill-tag-component [variant]="'pink'" [data]="softSkills">
        </app-pill-tag-component>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-6 ms-4 me-4 md:me-32">
      <div class="w-full flex gap-1">
        <p class="text-gray-600 dark:text-gray-400">
          {{ description }}
        </p>
        <button
          *ngIf="userDetails.roles.includes('RECLUTADOR')"
          class="flex items-center"
          data-modal-target="description-modal"
          data-modal-toggle="description-modal"
          (click)="editDescription()"
        >
          <span
            class="material-symbols-outlined text-gray-600 dark:text-slate-100"
          >
            edit
          </span>
        </button>
      </div>

      <div class="flex flex-col justify-center w-full gap-2">
        <div class="flex justify-between items-center">
          <h4 class="font-semibold text-gray-500 dark:text-gray-400">
            Experiencia
          </h4>
          <button
            data-modal-target="add-work-experience-modal"
            data-modal-toggle="add-work-experience-modal"
            *ngIf="userDetails.roles.includes('RECLUTADOR')"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>

        <div
          [id]="experience.id"
          *ngFor="let experience of processedWorkExperiences; let i = index"
          class="flex justify-start items-center p-2 gap-2 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
        >
          <img
            class="h-12 rounded-full"
            src="../../../assets/fractal (1).png "
            alt=""
          />
          <div class="flex justify-between items-center w-full">
            <div class="flex flex-col justify-center item">
              <h1 class="font-medium text-xl text-black dark:text-gray-400">
                {{ experience.company }}
              </h1>
              <div class="flex justify-between gap-2 w-full">
                <p class="font-normal text-gray-500 dark:text-gray-400">
                  {{ experience.description }}
                </p>
              </div>
            </div>
            <button
              *ngIf="userDetails.roles.includes('RECLUTADOR')"
              [attr.data-modal-target]="
                'edit-work-experience-modal-' + experience.id + talent?.id
              "
              [attr.data-modal-toggle]="
                'edit-work-experience-modal-' + experience.id + talent?.id
              "
            >
              <span
                class="material-symbols-outlined text-gray-600 dark:text-slate-100"
              >
                edit
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center w-full gap-2">
        <div class="flex justify-between items-center">
          <h4 class="font-semibold text-gray-500 dark:text-gray-400">
            Educación
          </h4>
          <button
            *ngIf="userDetails.roles.includes('RECLUTADOR')"
            data-modal-target="add-educational-experiences-modal"
            data-modal-toggle="add-educational-experiences-modal"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>

        <div
          [id]="experience.id"
          class="flex justify-start items-center p-2 gap-2 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
          *ngFor="
            let experience of processeEducationalExperiences;
            let i = index
          "
        >
          <img
            class="h-12 rounded-full"
            src="../../../assets/fractal (1).png "
            alt=""
          />
          <div class="flex justify-between items-center w-full">
            <div class="flex flex-col justify-center item">
              <h1 class="font-medium text-xl text-black dark:text-gray-400">
                {{ experience.educationalInstitute }}
              </h1>
              <div class="flex justify-between gap-2 w-full">
                <p class="font-normal text-gray-500 dark:text-gray-400">
                  {{ experience.description }}
                </p>
              </div>
            </div>
            <button
              *ngIf="userDetails.roles.includes('RECLUTADOR')"
              [attr.data-modal-target]="
                'edit-educational-experience-modal-' +
                experience.id +
                talent?.id
              "
              [attr.data-modal-toggle]="
                'edit-educational-experience-modal-' +
                experience.id +
                talent?.id
              "
            >
              <span
                class="material-symbols-outlined text-gray-600 dark:text-slate-100"
              >
                edit
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center w-full gap-2">
        <div class="flex justify-between items-center">
          <h4 class="font-semibold text-gray-500 dark:text-gray-400">
            Idiomas
          </h4>
          <button
            *ngIf="userDetails.roles.includes('RECLUTADOR')"
            data-modal-target="add-language-modal"
            data-modal-toggle="add-language-modal"
            type="button"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
        </div>

        <div
          *ngFor="let language of processeLanguages; let i = index"
          [id]="language.id"
          class="flex justify-start items-center p-2 gap-4 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
        >
          <div class="flex flex-col justify-center item">
            <h1 class="font-medium text-xl text-black dark:text-gray-400">
              {{
                language.language.charAt(0).toUpperCase() +
                  language.language.slice(1).toLowerCase()
              }}
            </h1>
            <div class="flex justify-between gap-2 w-full">
              <p class="font-normal text-gray-500 dark:text-gray-400">
                {{
                  language.level.charAt(0).toUpperCase() +
                    language.level.slice(1).toLowerCase()
                }}
              </p>
            </div>
          </div>
          <div class="flex justify-between items-center w-full">
            <div class="flex items-center justify-start">
              <app-rating
                [maxRating]="5"
                [currentRating]="language.numberOfStars"
                [readonly]="true"
                [ngClass]="'flex items-center'"
                [uniqueId]="language?.id?.toString()"
              ></app-rating>
            </div>
            <button
              *ngIf="userDetails.roles.includes('RECLUTADOR')"
              [attr.data-modal-target]="
                'edit-language-experience-modal-' + language.id + talent?.id
              "
              [attr.data-modal-toggle]="
                'edit-language-experience-modal-' + language.id + talent?.id
              "
            >
              <span
                class="material-symbols-outlined text-gray-600 dark:text-slate-100"
              >
                edit
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center w-full gap-2">
        <div class="flex justify-between items-center">
          <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
            Feedback
          </h4>
        </div>

        <!-- TODO: ADD NGFOR TO FEEDBACKS -->
        <div
          *ngFor="let feedback of processeFeedback; let i = index"
          class="flex justify-start items-center p-2 gap-4 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
        >
          <div class="flex w-full gap-4">
            <img
              class="w-12 h-12 rounded-full"
              [src]="handleImage(feedback.user.image)"
              alt=""
            />
            <div class="flex flex-col justify-center">
              <div class="flex items-center gap-4">
                <h1 class="font-medium text-xl text-black dark:text-gray-400">
                  {{
                    feedback.user.name.charAt(0).toUpperCase() +
                      feedback.user.name.slice(1).toLowerCase()
                  }}
                  {{
                    feedback.user.paternalSurname.charAt(0).toUpperCase() +
                      feedback.user.paternalSurname.slice(1).toLowerCase()
                  }}
                </h1>
                <div class="flex items-center justify-start">
                  <app-rating
                    [maxRating]="5"
                    [currentRating]="feedback.starsNumber"
                    [ngClass]="'flex items-center'"
                    [readonly]="true"
                    [uniqueId]="feedback?.id?.toString()"
                  ></app-rating>
                </div>
              </div>
              <div class="flex justify-between gap-2 w-full">
                <p class="text-md font-normal text-gray-500 dark:text-gray-400">
                  {{ feedback.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="userDetails.roles.includes('RECLUTADOR')"
          class="flex items-center gap-2"
        >
          <button
            data-modal-target="feedback-modal-form"
            data-modal-toggle="feedback-modal-form"
            type="button"
          >
            <i class="fa-solid fa-plus text-gray-500"></i>
          </button>
          <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
            Dar nuevo feedback
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<app-update-cv-modal-form
  [talentFileList]="talentFileList"
></app-update-cv-modal-form>

<app-add-work-experiences-form
  *ngIf="userDetails.roles.includes('RECLUTADOR')"
></app-add-work-experiences-form>

<app-add-educational-experiences-form
  *ngIf="userDetails.roles.includes('RECLUTADOR')"
>
</app-add-educational-experiences-form>

<app-add-language
  *ngIf="userDetails.roles.includes('RECLUTADOR')"
  [languages]="languageOptions"
  [levels]="levelOptions"
></app-add-language>

<ng-container
  *ngFor="let experience of processedWorkExperiences; let i = index"
>
  <app-edit-work-experiences-form
    *ngIf="userDetails.roles.includes('RECLUTADOR')"
    [modal_id]="'edit-work-experience-modal-' + experience.id + talent?.id"
    [workExperience]="experience"
    [id]="experience.id || 0"
  ></app-edit-work-experiences-form>
</ng-container>
<ng-container
  *ngFor="let experience of processeEducationalExperiences; let i = index"
>
  <app-edit-educational-experiences-form
    *ngIf="userDetails.roles.includes('RECLUTADOR')"
    [modal_id]="
      'edit-educational-experience-modal-' + experience.id + talent?.id
    "
    [educationalExperience]="experience"
    [id]="experience.id || 0"
  ></app-edit-educational-experiences-form>
</ng-container>

<ng-container *ngFor="let language of processeLanguages; let i = index">
  <app-edit-language
    *ngIf="userDetails.roles.includes('RECLUTADOR')"
    [modal_id]="'edit-language-experience-modal-' + language.id + talent?.id"
    [languageList]="language"
    [languageOptions]="languageOptions"
    [levelOptions]="levelOptions"
    [id]="language.id || 0"
  ></app-edit-language>
</ng-container>
