<div
  [id]="modalId"
  class="z-10 hidden w-72 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
>
  <div class="flex flex-wrap items-center gap-2 p-2">
    <span
      class="flex gap-1 items-center rounded-full bg-gray-100 p-2 hover:bg-gray-200"
      *ngFor="let skill of selectedSkills"
    >
      {{ skill.name
      }}<span
        class="material-symbols-outlined hover:text-red-500 cursor-pointer"
        (click)="handleCancel(skill)"
      >
        cancel
      </span>
    </span>
  </div>
  <ul
    class="text-sm text-gray-700 dark:text-gray-200"
    [attr.aria-labelledby]="labelledby"
  >
    <li
      class="hover:bg-gray-50 cursor-pointer"
      (click)="handleChecked(i)"
      *ngFor="let skill of skills; let i = index"
    >
      <div
        class="flex items-center justify-between p-3"
        [ngClass]="{ 'bg-gray-200': isChecked[i] }"
        [id]="skill.id"
      >
        <span class="text-sm font-medium text-gray-900 dark:text-gray-300">{{
          skill.name
        }}</span>
        <i class="fa-solid fa-check text-blue-500" *ngIf="isChecked[i]"></i>
      </div>
    </li>
  </ul>
</div>
