<div class="flex flex-wrap p-2 gap-2 h-auto">
  <span
    *ngFor="let element of data; let i = index"
    [id]="element.id"
    class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full"
    [ngClass]="{
      'bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300': variant === 'blue',
      'bg-pink-100 text-pink-800 dark:bg-pink-900 dark:text-pink-300': variant == 'pink'}"
    >{{element.skill}}<ng-container *ngIf="variant !== 'pink'">
      - {{element.years}}</ng-container
    ></span
  >
</div>
