<div class="flex flex-col justify-center w-full gap-2" *ngIf="languagesList">
  <div class="flex justify-between items-center">
    <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
      {{ main_title }}
    </h4>
    <button
      [attr.data-modal-target]="'languageModalAdd'"
      [attr.data-modal-toggle]="'languageModalAdd'"
      (click)="setAddModalTitle()"
      (click)="cleanLanguageObj()"
    >
      <i class="fa-solid fa-plus text-gray-500"></i>
    </button>
  </div>

  <div
    *ngFor="let language of languagesList; let i = index"
    class="flex justify-start items-center p-2 gap-4 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
  >
    <div class="flex flex-col justify-center item">
      <h1 class="font-medium text-xl text-black dark:text-gray-400">
        {{
          language.language.charAt(0).toUpperCase() +
            language.language.slice(1).toLowerCase()
        }}
      </h1>
      <div class="flex justify-between gap-2 w-full">
        <p class="text-md font-normal text-gray-500 dark:text-gray-400">
          {{
            language.level.charAt(0).toUpperCase() +
              language.level.slice(1).toLowerCase()
          }}
        </p>
      </div>
    </div>
    <div class="flex justify-between items-center w-full">
      <div class="flex items-center justify-start">
        <app-rating
          [maxRating]="5"
          [currentRating]="language.numberOfStars"
          [readonly]="true"
          [ngClass]="'flex items-center'"
        ></app-rating>
      </div>
      <!-- <button
        [attr.data-modal-target]="editModalId[i]"
        [attr.data-modal-toggle]="editModalId[i]"
        (click)="editLanguage(i)"
      > -->
      <button
        [attr.data-modal-target]="'languageModalEdit'"
        [attr.data-modal-toggle]="'languageModalEdit'"
        (click)="editLanguage(i)"
        (click)="getLanguageObj(language.id)"
      >
        <span
          class="material-symbols-outlined text-gray-600 dark:text-slate-100"
        >
          edit
        </span>
      </button>
    </div>
  </div>
</div>
<!-- <app-language-modal-form
  *ngIf="type == 'lang'"
  [modal_id]="'languageModal'"
  title="{{ modalTitle }}"
  description="{{ modalDescription }}"
  [data]="data"
>
</app-language-modal-form> -->
<!-- <app-language-modal-form
  *ngIf="type == 'lang'"
  [modal_id]="'languageModal'"
  title="{{ modalTitle }}"
  description="{{ modalDescription }}"
  [data]="data"
  [modalIsOpen]="true"
>
</app-language-modal-form> -->
<app-add-language [modal_id]="'languageModalAdd'"></app-add-language>
<app-edit-language
  [modal_id]="'languageModalEdit'"
  [data]="data"
></app-edit-language>
<!-- <ng-container *ngFor="let language of languagesList; let i = index">
  <app-language-modal-form
    *ngIf="type == 'lang'"
    [modal_id]="editModalId[i]"
    title="{{ modalTitle }}"
    description="{{ modalDescription }}"
    [rating]="language.numberOfStars"
  ></app-language-modal-form>
</ng-container>
 -->
