<div class="flex flex-col justify-center w-full gap-2">
  <div class="flex justify-between items-center">
    <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
      {{ main_title }}
    </h4>
    <button
      [attr.data-modal-target]="addModalId"
      [attr.data-modal-toggle]="addModalId"
      (click)="setAddModalTitle()"
    >
      <i class="fa-solid fa-plus text-gray-500"></i>
    </button>
  </div>

  <div
    *ngFor="let _ of [].constructor(number_items)"
    class="flex justify-start items-center p-2 gap-4 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
  >
    <div class="flex flex-col justify-center item">
      <h1 class="font-medium text-xl text-black dark:text-gray-400">
        {{ title }}
      </h1>
      <div class="flex justify-between gap-2 w-full">
        <p class="text-md font-normal text-gray-500 dark:text-gray-400">
          {{ description }}
        </p>
      </div>
    </div>
    <div class="flex justify-between items-center w-full">
      <div class="flex items-center justify-start">
        <app-rating
          [maxRating]="5"
          [ngClass]="'flex items-center'"
        ></app-rating>
      </div>
      <button
        [attr.data-modal-target]="editModalId"
        [attr.data-modal-toggle]="editModalId"
        (click)="setEditModalTitle()"
      >
        <span
          class="material-symbols-outlined text-gray-600 dark:text-slate-100"
        >
          edit
        </span>
      </button>
    </div>
  </div>
</div>
<app-language-modal-form
  *ngIf="type == 'lang'"
  [modal_id]="addModalId"
  title="{{ modalTitle }}"
  description="{{ modalDescription }}"
></app-language-modal-form>
<app-language-modal-form
  *ngIf="type == 'lang'"
  [modal_id]="editModalId"
  title="{{ modalTitle }}"
  description="{{ modalDescription }}"
></app-language-modal-form>
