<div class="grid gap-4">
  <app-text-input
    [id]="'empresa-1'"
    label="Empresa"
    placeholder="Nombre de la empresa"
    [value]="inputValue"
    [isDisabled]="disableTextInput"
    (input)="onInputChange($event, 'company')"
    [hasError]="
      isValidField ? isValidField('workExperiencesList.0.company') : false
    "
  >
  </app-text-input>
  <span
    *ngIf="isValidField ? isValidField('workExperiencesList.0.company') : false"
    class="font-medium text-red-500 leading-tight"
  >
    {{ getFieldError ? getFieldError("workExperiencesList.0.company") : "" }}
  </span>
  <app-checkbox-input
    [id]="'checkboxWorkingHere'"
    label="Aquí en Fractal"
    [isChecked]="isCompanyFractal"
    (isCheckedChange)="companyIfChecked($event)"
  ></app-checkbox-input>
  <app-text-input
    [id]="'puesto'"
    label="Puesto"
    placeholder="Puesto en la empresa"
    [value]="positionValue"
    (input)="onInputChange($event, 'position')"
    [hasError]="
      isValidField ? isValidField('workExperiencesList.0.position') : false
    "
  >
  </app-text-input>
  <span
    *ngIf="
      isValidField ? isValidField('workExperiencesList.0.position') : false
    "
    class="font-medium text-red-500 leading-tight"
  >
    {{ getFieldError ? getFieldError("workExperiencesList.0.position") : "" }}
  </span>
  <div class="grid gap-4 md:grid-cols-2">
    <app-date-input
      [id]="'anio-mes-inicio'"
      label="Año y mes de inicio"
      placeholder="Fecha de inicio"
      [value]="startDateValue"
      (input)="onInputChange($event, 'startDate')"
      [hasError]="
        isValidField ? isValidField('workExperiencesList.0.startDate') : false
      "
    >
    </app-date-input>

    <app-date-input
      [id]="'anio-mes-fin'"
      label="Año y mes final"
      placeholder="Fecha de fin"
      [value]="endDateValue"
      [isDisabled]="disableEndDateInput"
      (input)="onInputChange($event, 'endDate')"
      [hasError]="
        isValidField ? isValidField('workExperiencesList.0.endDate') : false
      "
    >
    </app-date-input>
  </div>
  <div class="grid gap-4 md:grid-cols-2">
    <span
      *ngIf="
        isValidField ? isValidField('workExperiencesList.0.startDate') : false
      "
      class="font-medium text-red-500 leading-tight"
    >
      {{
        getFieldError ? getFieldError("workExperiencesList.0.startDate") : ""
      }}
    </span>
    <span
      *ngIf="
        isValidField ? isValidField('workExperiencesList.0.endDate') : false
      "
      class="font-medium text-red-500 leading-tight"
    >
      {{ getFieldError ? getFieldError("workExperiencesList.0.endDate") : "" }}
    </span>
  </div>
  <app-checkbox-input
    [id]="'checkboxCurrentlyWorking'"
    label="Hasta la actualidad"
    [isChecked]="isCurrentlyWorking"
    (isCheckedChange)="endDateIfChecked($event)"
  ></app-checkbox-input>
</div>
