<div>
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2 gap-2">
      <a (click)="onButtonClick()"
        class="inline-block text-center text-[#0B85C3] bg-white border border-[#84c2e0] focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-[#c7e2f0] font-medium rounded-lg text-sm py-2.5 px-5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 cursor-pointer">
        + Nuevo Talento
      </a>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <form class="flex gap-4">
          <div class="relative md:block flex items-center mr-2">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
              <span class="sr-only">Search icon</span>
            </div>
            <input type="text" id="search-navbar"
              class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Buscar nuevo talento" />
          </div>
          <button type="button"
            class="text-white bg-[#009688] hover:bg-[#203634] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Buscar
          </button>
        </form>
        <button data-collapse-toggle="navbar-cta" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <app-button-dropdown buttonId="dropdownCheckboxButton1" dropdownToggle="dropdownDefaultCheckbox1"
              buttonName="Habilidades"></app-button-dropdown>
            <!-- Dropdown menu -->
            <app-checkbox-modal modalId="dropdownDefaultCheckbox1" labelledby="dropdownCheckboxButton1" [skills]="[
                { id: 'checkbox-item-1-habilidades', name: 'Data Structure' },
                { id: 'checkbox-item-2-habilidades', name: 'Docker' },
                { id: 'checkbox-item-3-habilidades', name: 'Express' },
                { id: 'checkbox-item-4-habilidades', name: 'Github' },
                { id: 'checkbox-item-5-habilidades', name: 'Nginx' },
                { id: 'checkbox-item-6-habilidades', name: 'Node.js' }
              ]"></app-checkbox-modal>
          </li>
          <li>
            <app-button-dropdown buttonId="dropdownRadioButton" dropdownToggle="dropdownDefaultRadio"
              buttonName="Nivel de inglés"></app-button-dropdown>
            <!-- Dropdown menu -->
            <app-radio-button modalId="dropdownDefaultRadio" labelledby="dropdownRadioButton" [data]="[
                { id: 'default-radio-1', label: 'Básico' },
                { id: 'default-radio-2', label: 'Intermedio' },
                { id: 'default-radio-3', label: 'Avanzado' },
                { id: 'default-radio-4', label: 'Nativo' }
              ]"></app-radio-button>
          </li>
          <li>
            <app-button-dropdown buttonId="dropdownNavbarLink3" dropdownToggle="dropdownNavbar3"
              buttonName="Favoritos"></app-button-dropdown>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar3"
              class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="grid grid-cols-12 gap-4 max-w-screen-xl max-h-screen mx-auto">
    <div class="h-5/6 max-h-screen max-w-xl flex flex-col px-4 col-span-4 gap-6 overflow-y-auto">
      <app-profile *ngFor="let profile of profiles" [variant]="profile.variant" [name]="profile.name"
        [image]="profile.image" [location]="profile.location" [stack]="profile.stack"
        [initialMont]="profile.initialMont" [finalMont]="profile.finalMont"></app-profile>
    </div>
    <div class="col-span-8 h-5/6 max-h-screen max-w-full p-1">
      <div
        class="max-h-full max-w-full overflow-y-auto p-1 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col justify-center flex-1 flex-grow-1">
          <app-profile [name]="'Juan Lopez Perez'" [image]="{
              url: '../../../assets/8ee6c5268d3404f8441329ce18972f60.jpeg',
              alt: 'Juan Lopez Perez',
              width: 100,
              height: 100
            }" [iconEditImg]="true" [location]="'Lima, Peru'" [stack]="'Full-stack developer'" [initialMont]="1000"
            [finalMont]="3000" [iconEditMont]="true" [feedbackNumber]="2" [options]="true"></app-profile>

          <div class="flex w-full p-1 gap-2">
            <div class="flex items-center w-full p-2">
              <label for="dropzone-file1"
                class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center">
                  <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                  </svg>
                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span>
                  </p>
                </div>
                <input id="dropzone-file1" type="file" class="hidden" />
              </label>
            </div>
            <div class="flex items-center w-full p-1">
              <label for="dropzone-file2"
                class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center">
                  <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                  </svg>
                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span>
                  </p>
                </div>
                <input id="dropzone-file2" type="file" class="hidden" />
              </label>
            </div>
            <div class="flex items-center w-full p-1">
              <button for="dropzone-file3" data-modal-target="new-file-modal-form"
                data-modal-toggle="new-file-modal-form"
                class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center">
                  <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                  </svg>
                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span>
                  </p>
                </div>
              </button>
            </div>
          </div>
          <div class="flex items-center justify-between w-full p-1">
            <div class="flex flex-col justify-start items-start w-7/12 gap-1 p-2">
              <div class="flex items-center gap-2">
                <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
                  Habilidades Técnicas
                </h4>
                <button data-modal-target="technical-skills-modal" data-modal-toggle="technical-skills-modal">
                  <i class="fa-solid fa-plus text-gray-500"></i>
                </button>
              </div>
              <div class="flex flex-wrap gap-2 p-2">
                <span
                  class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Data
                  Structure - 3.5</span>
                <span
                  class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Docker
                  - 1</span>
                <span
                  class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Express
                  - 2</span>
                <span
                  class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Github
                  - 3</span>
                <span
                  class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Javascript
                  - 5</span>
                <span
                  class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Nginx
                  - 2</span>
                <span
                  class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Node.js
                  - 2</span>
              </div>
            </div>
            <div class="flex flex-col justify-start items-start w-5/12 gap-1 p-2">
              <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
                Habilidades Técnicas
              </h4>
              <div class="flex flex-wrap gap-1 p-2">
                <span
                  class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-pink-900 dark:text-pink-300">Comunicación</span>
                <span
                  class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-pink-900 dark:text-pink-300">Auto-aprendizaje</span>
                <span
                  class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-pink-900 dark:text-pink-300">Empatía</span>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-between w-5/6 gap-2 p-4">
            <div class="w-full">
              <p class="text-md text-gray-600 dark:text-gray-400">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reprehenderit iure saepe in nihil, quo voluptatum quidem est
                dicta tempora maxime, necessitatibus dolores beatae voluptatibus
                eligendi voluptatem accusantium nam. Eveniet, omnis?
              </p>
            </div>
            <div class="flex flex-col justify-center w-full gap-2">
              <div class="flex justify-between items-center">
                <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
                  Experiencia
                </h4>
                <button data-modal-target="experience-modal-form" data-modal-toggle="experience-modal-form"
                  (click)="setModalData('Agrega una nueva experiencia', 'Describe y agrega una nueva experiencia laboral')">
                  <i class="fa-solid fa-plus text-gray-500"></i>
                </button>
              </div>
              <div
                class="flex justify-start items-center p-2 gap-2 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light">
                <img class="h-12 rounded-full" src="../../../assets/fractal (1).png " alt="" />
                <div class="flex justify-between items-center w-full">
                  <div class="flex flex-col justify-center item">
                    <h1 class="font-medium text-xl text-black dark:text-gray-400">
                      Fractal
                    </h1>
                    <div class="flex justify-between gap-2 w-full">
                      <p class="text-md font-normal text-gray-500 dark:text-gray-400">
                        Desarrollador Full-Stack
                      </p>
                      <span class="text-md font-normal text-gray-500 dark:text-gray-400">
                        2015 - 2021
                      </span>
                      <span class="text-md font-normal text-gray-500 dark:text-gray-400">
                        6 años
                      </span>
                    </div>
                  </div>
                  <button data-modal-target="experience-modal-form" data-modal-toggle="experience-modal-form"
                    (click)="setModalData('Edita la experiencia', 'La vida esta llena de cambios. Edita la experiencia laboral')">
                    <span class="material-symbols-outlined text-gray-600 dark:text-slate-100">
                      edit
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="flex flex-col justify-center w-full gap-2">
              <div class="flex justify-between items-center">
                <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
                  Educación
                </h4>
                <button data-modal-target="education-modal-form" data-modal-toggle="education-modal-form"
                  (click)="setModalData('Agrega una nueva experiencia educativa', 'Describe y agrega una nueva experiencia educativa.')">
                  <i class="fa-solid fa-plus text-gray-500"></i>
                </button>
              </div>
              <div
                class="flex justify-start items-center p-2 gap-2 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light">
                <img class="h-12 rounded-full" src="../../../assets/pontificia.jpeg" alt="" />
                <div class="flex justify-between items-center w-full">
                  <div class="flex flex-col justify-center item">
                    <h1 class="font-medium text-xl text-black dark:text-gray-400">
                      Pontificia Universidad Católica del Perú
                    </h1>
                    <div class="flex justify-between gap-2 w-full">
                      <p class="text-md font-normal text-gray-500 dark:text-gray-400">
                        Bachiller en Ingeniería de Sistemas
                      </p>
                      <span class="text-md font-normal text-gray-500 dark:text-gray-400">
                        2015 - 2021
                      </span>
                      <span class="text-md font-normal text-gray-500 dark:text-gray-400">
                      </span>
                    </div>
                  </div>
                  <button data-modal-target="education-modal-form" data-modal-toggle="education-modal-form"
                    (click)="setModalData('Edita la experiencia educativa', 'La vida esta llena de cambios. Edita la experiencia educativa')">
                    <span class="material-symbols-outlined text-gray-600 dark:text-slate-100">
                      edit
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="flex flex-col justify-center w-full gap-2">
              <div class="flex justify-between items-center">
                <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
                  Idiomas
                </h4>
                <button data-modal-target="language-modal-form" data-modal-toggle="language-modal-form"
                  (click)="setModalData('Agrega un nuevo idioma', 'Agrega un nuevo idioma aprendido.')">
                  <i class="fa-solid fa-plus text-gray-500"></i>
                </button>
              </div>
              <div
                class="flex justify-start items-center p-2 gap-2 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light">
                <img class="h-12 rounded-full" src="../../../assets/pontificia.jpeg" alt="" />
                <div class="flex justify-between items-center w-full">
                  <div class="flex flex-col justify-center item">
                    <h1 class="font-medium text-xl text-black dark:text-gray-400">
                      Pontificia Universidad Católica del Perú
                    </h1>
                    <div class="flex justify-between gap-2 w-full">
                      <p class="text-md font-normal text-gray-500 dark:text-gray-400">
                        Bachiller en Ingeniería de Sistemas
                      </p>
                      <span class="text-md font-normal text-gray-500 dark:text-gray-400">
                        2015 - 2021
                      </span>
                      <span class="text-md font-normal text-gray-500 dark:text-gray-400">
                      </span>
                    </div>
                  </div>
                  <button data-modal-target="language-modal-form" data-modal-toggle="language-modal-form"
                    (click)="setModalData('Edita la habilidad en el idioma', 'Edita la habilidad en el idioma.')">
                    <span class="material-symbols-outlined text-gray-600 dark:text-slate-100">
                      edit
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal forms -->
  <app-modal-forms-collection></app-modal-forms-collection>
  <app-experience-modal-form title={{modalTitle}} description="{{modalDescription}}"></app-experience-modal-form>
  <app-education-modal-form title={{modalTitle}} description="{{modalDescription}}"></app-education-modal-form>
  <app-language-modal-form title={{modalTitle}} description="{{modalDescription}}"></app-language-modal-form>
</div>