<div class="h-full">
  <app-nav-filters></app-nav-filters>
  <div
    class="grid grid-rows-auto lg:grid-cols-6 gap-4 max-w-screen-2xl max-h-screen mx-auto"
  >
    <div
      class="flex max-w-auto h-auto lg:h-5/6 lg:max-h-full lg:flex-col lg:col-span-2 px-4 py-2 gap-6 overflow-y-auto scroll-smooth scrollbar-thin scrollbar-thumb-orange"
    >
      <app-profile
        *ngFor="let talent of talents"
        [variant]="'main-profile'"
        [selected]="talent === selectedTalent"
        [name]="talent.name"
        [image]="talent.image"
        [country]="talent.country"
        [city]="talent.city"
        [stack]="talent.profile"
        [initialMont]="talent.initialAmount"
        [finalMont]="talent.finalAmount"
        (click)="onTalentClick(talent)"
      ></app-profile>
    </div>
    <div class="h-auto lg:h-5/6 max-w-full max-h-screen lg:col-span-4 p-1">
      <app-talent-content></app-talent-content>
    </div>
  </div>
  <!-- Modal forms -->
  <app-modal-forms-collection></app-modal-forms-collection>
</div>
