<div>
  <app-nav-filters></app-nav-filters>
  <div
    class="grid grid-rows-auto lg:grid-cols-12 gap-4 max-w-screen-2xl max-h-screen mx-auto"
  >
    <div
      class="lg:h-5/6 max-w-auto lg:max-h-screen flex lg:flex-col px-4 py-2 lg:col-span-4 gap-6 overflow-y-auto scroll-smooth scrollbar-thin scrollbar-thumb-orange"
    >
      <app-profile
        *ngFor="let talent of talents"
        [variant]="'main-profile'"
        [name]="talent.name"
        [image]="talent.image"
        [location]="'Lima, Perú'"
        [stack]="'Fullstack Developer'"
        [initialMont]="talent.initialAmount"
        [finalMont]="talent.finalAmount"
      ></app-profile>
    </div>
    <div class="lg:col-span-8 h-5/6 max-h-screen max-w-full p-1">
      <app-talent-content></app-talent-content>
    </div>
  </div>
  <!-- Modal forms -->
  <app-modal-forms-collection></app-modal-forms-collection>
</div>
