<div class="grid gap-4">
  <app-text-input
    [id]="'institucion'"
    label="Institución"
    placeholder="Nombre de la institución"
    [value]="inputValue"
    [isDisabled]="disableTextInput"
  >
  </app-text-input>
  <app-checkbox-input
    [id]="'edu-fractal'"
    label="Aquí en Fractal"
    (isCheckedChange)="institutionIfChecked($event)"
  ></app-checkbox-input>
  <app-text-input
    [id]="'carrera'"
    label="Carrera"
    placeholder="Nombre de la carrera"
  >
  </app-text-input>
  <app-text-input
    [id]="'grado'"
    label="Grado"
    placeholder="Grado de la carrera"
  >
  </app-text-input>
  <div class="grid gap-4 md:grid-cols-2">
    <app-date-input
      [id]="'edu-anio-mes-inicio'"
      label="Año y mes de inicio"
      placeholder="Fecha de inicio"
    >
    </app-date-input>
    <app-date-input
      [id]="'edu-anio-mes-fin'"
      label="Año y mes final"
      placeholder="Fecha de fin"
      [value]="endDateValue"
      [isDisabled]="disableEndDateInput"
    >
    </app-date-input>
  </div>
  <app-checkbox-input
    [id]="'exp-actual1'"
    label="Hasta la actualidad"
    (isCheckedChange)="endDateIfChecked($event)"
  ></app-checkbox-input>
</div>
