<div class="grid gap-4">
  <app-text-input
    [id]="'institucion'"
    label="Institución"
    placeholder="Nombre de la institución"
    [value]="inputValue"
    [isDisabled]="disableTextInput"
    (input)="onInputChange($event, 'institution')"
    [hasError]="isValidField ? isValidField('institution') : false"
  >
  </app-text-input>
  <ng-container
    *ngIf="{ field: createTalentForm?.get('institution') } as controls"
  >
    <span
      *ngIf="controls.field && !controls.field.valid && controls.field.touched"
      class="font-medium text-red-500 leading-tight"
    >
      {{ getFieldError ? getFieldError("institution") : "" }}
    </span>
  </ng-container>
  <app-checkbox-input
    [id]="'edu-fractal'"
    label="Aquí en Fractal"
    (isCheckedChange)="institutionIfChecked($event)"
  ></app-checkbox-input>
  <app-text-input
    [id]="'carrera'"
    label="Carrera"
    placeholder="Nombre de la carrera"
    (input)="onInputChange($event, 'career')"
    [hasError]="isValidField ? isValidField('career') : false"
  >
  </app-text-input>
  <ng-container *ngIf="{ field: createTalentForm?.get('career') } as controls">
    <span
      *ngIf="controls.field && !controls.field.valid && controls.field.touched"
      class="font-medium text-red-500 leading-tight"
    >
      {{ getFieldError ? getFieldError("career") : "" }}
    </span>
  </ng-container>
  <app-text-input
    [id]="'grado'"
    label="Grado"
    placeholder="Grado de la carrera"
    (input)="onInputChange($event, 'degree')"
    [hasError]="isValidField ? isValidField('degree') : false"
  >
  </app-text-input>
  <ng-container *ngIf="{ field: createTalentForm?.get('degree') } as controls">
    <span
      *ngIf="controls.field && !controls.field.valid && controls.field.touched"
      class="font-medium text-red-500 leading-tight"
    >
      {{ getFieldError ? getFieldError("degree") : "" }}
    </span>
  </ng-container>
  <div class="grid gap-4 md:grid-cols-2">
    <app-date-input
      [id]="'edu-anio-mes-inicio'"
      label="Año y mes de inicio"
      placeholder="Fecha de inicio"
      (input)="onInputChange($event, 'studyStartDate')"
      [hasError]="isValidField ? isValidField('studyStartDate') : false"
    >
    </app-date-input>
    <app-date-input
      [id]="'edu-anio-mes-fin'"
      label="Año y mes final"
      placeholder="Fecha de fin"
      [value]="endDateValue"
      [isDisabled]="disableEndDateInput"
      (input)="onInputChange($event, 'studyEndDate')"
      [hasError]="isValidField ? isValidField('studyEndDate') : false"
    >
    </app-date-input>
  </div>
  <div class="grid gap-4 md:grid-cols-2">
    <ng-container
      *ngIf="{ field: createTalentForm?.get('studyStartDate') } as controls"
    >
      <span
        *ngIf="
          controls.field && !controls.field.valid && controls.field.touched
        "
        class="font-medium text-red-500 leading-tight"
      >
        {{ getFieldError ? getFieldError("studyStartDate") : "" }}
      </span>
    </ng-container>
    <ng-container
      *ngIf="{ field: createTalentForm?.get('studyEndDate') } as controls"
    >
      <span
        *ngIf="
          controls.field && !controls.field.valid && controls.field.touched
        "
        class="font-medium text-red-500 leading-tight"
      >
        {{ getFieldError ? getFieldError("studyEndDate") : "" }}
      </span>
    </ng-container>
  </div>
  <app-checkbox-input
    [id]="'exp-actual1'"
    label="Hasta la actualidad"
    (isCheckedChange)="endDateIfChecked($event)"
  ></app-checkbox-input>
</div>
