<div class="grid gap-4">
  <app-text-input
    [id]="'institucion'"
    label="Institución"
    placeholder="Nombre de la institución"
    [value]="inputValue"
    [isDisabled]="disableTextInput"
    (input)="onInputChange($event, 'educationalInstitute')"
    [hasError]="
      isValidField
        ? isValidField('educationalExperiencesList.0.educationalInstitute')
        : false
    "
  >
  </app-text-input>
  <span
    *ngIf="
      isValidField
        ? isValidField('educationalExperiencesList.0.educationalInstitute')
        : false
    "
    class="font-medium text-red-500 leading-tight"
  >
    {{
      getFieldError
        ? getFieldError("educationalExperiencesList.0.educationalInstitute")
        : ""
    }}
  </span>
  <app-checkbox-input
    [id]="'edu-fractal'"
    label="Aquí en Fractal"
    (isCheckedChange)="institutionIfChecked($event)"
  ></app-checkbox-input>
  <app-text-input
    [id]="'carrera'"
    label="Carrera"
    placeholder="Nombre de la carrera"
    (input)="onInputChange($event, 'career')"
    [hasError]="
      isValidField ? isValidField('educationalExperiencesList.0.career') : false
    "
  >
  </app-text-input>
  <span
    *ngIf="
      isValidField ? isValidField('educationalExperiencesList.0.career') : false
    "
    class="font-medium text-red-500 leading-tight"
  >
    {{
      getFieldError ? getFieldError("educationalExperiencesList.0.career") : ""
    }}
  </span>
  <app-text-input
    [id]="'grado'"
    label="Grado"
    placeholder="Grado de la carrera"
    (input)="onInputChange($event, 'degree')"
    [hasError]="
      isValidField ? isValidField('educationalExperiencesList.0.degree') : false
    "
  >
  </app-text-input>
  <span
    *ngIf="
      isValidField ? isValidField('educationalExperiencesList.0.degree') : false
    "
    class="font-medium text-red-500 leading-tight"
  >
    {{
      getFieldError ? getFieldError("educationalExperiencesList.0.degree") : ""
    }}
  </span>
  <div class="grid gap-4 md:grid-cols-2">
    <app-date-input
      [id]="'edu-anio-mes-inicio'"
      label="Año y mes de inicio"
      placeholder="Fecha de inicio"
      (input)="onInputChange($event, 'startDate')"
      [hasError]="
        isValidField
          ? isValidField('educationalExperiencesList.0.startDate')
          : false
      "
    >
    </app-date-input>
    <app-date-input
      [id]="'edu-anio-mes-fin'"
      label="Año y mes final"
      placeholder="Fecha de fin"
      [value]="endDateValue"
      [isDisabled]="disableEndDateInput"
      (input)="onInputChange($event, 'endDate')"
      [hasError]="
        isValidField
          ? isValidField('educationalExperiencesList.0.endDate')
          : false
      "
    >
    </app-date-input>
  </div>
  <div class="grid gap-4 md:grid-cols-2">
    <span
      *ngIf="
        isValidField
          ? isValidField('educationalExperiencesList.0.startDate')
          : false
      "
      class="font-medium text-red-500 leading-tight"
    >
      {{
        getFieldError
          ? getFieldError("educationalExperiencesList.0.startDate")
          : ""
      }}
    </span>
    <span
      *ngIf="
        isValidField
          ? isValidField('educationalExperiencesList.0.endDate')
          : false
      "
      class="font-medium text-red-500 leading-tight"
    >
      {{
        getFieldError
          ? getFieldError("educationalExperiencesList.0.endDate")
          : ""
      }}
    </span>
  </div>
  <app-checkbox-input
    [id]="'exp-actual1'"
    label="Hasta la actualidad"
    (isCheckedChange)="endDateIfChecked($event)"
  ></app-checkbox-input>
</div>
