<section class="mx-4 md:w-[620px] md:mx-auto mt-8 border rounded-xl shadow-lg">
  <div class="flex justify-between mx-4 lg:mx-8 my-8">
    <div class="my-auto">
      <h2 class="text-2xl font-bold">Nuevo talento</h2>
      <p class="text-gray-500 text-sm md:text-base">
        Detalla al talento que deseas agregar.
      </p>
    </div>
    <div class="grid gap-2 md:grid-cols-2 my-auto">
      <a
        (click)="onButtonClick()"
        class="inline-block text-center text-[#0B85C3] bg-white border border-[#84c2e0] focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-[#c7e2f0] font-medium rounded-lg text-sm py-2.5 px-5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        Volver
      </a>
      <button
        type="button"
        (click)="logFormValues()"
        class="focus:outline-none text-white bg-[#009689] hover:bg-[#0a655f] focus:ring-4 focus:ring-[#51f7dd] font-medium rounded-lg text-sm py-2.5 px-5 dark:bg-green-600 dark:hover:bg-[#009689] dark:focus:ring-[#0a655f]"
      >
        Guardar
      </button>
    </div>
  </div>
  <div class="overflow-y-auto h-[400px] md:h-[580px]">
    <div class="mx-10 md:mx-16">
      <form [formGroup]="createTalentForm">
        <app-subtitle-form text="Curriculum Vitae"></app-subtitle-form>
        <app-file-input
          [id]="'cv'"
          title="Curriculum Vitae"
          description="PDF (Max. 800x400 px)"
          [accept]="'application/pdf'"
        ></app-file-input>

        <app-subtitle-form text="Foto de perfil"></app-subtitle-form>
        <app-file-input
          [id]="'foto_perfil'"
          title="Foto de perfil"
          description="JPEG o PNG (Max. 800x400 px)"
          [accept]="'image/png, image/jpeg'"
          formControlName="profile"
        ></app-file-input>

        <div class="mb-8">
          <app-subtitle-form text="Datos"></app-subtitle-form>
          <div class="grid gap-4">
            <app-text-input
              [id]="'nombre'"
              label="Nombre"
              placeholder="Ingrese el nombre"
              formControlName="name"
            >
            </app-text-input>
            <app-text-input
              [id]="'apellido-paterno'"
              label="Apellido paterno"
              placeholder="Ingrese el apellido paterno"
              formControlName="paternalSurname"
            >
            </app-text-input>
            <app-text-input
              [id]="'apellido-materno'"
              label="Apellido materno"
              placeholder="Ingrese el apellido materno"
              formControlName="maternalSurname"
            >
            </app-text-input>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Paises"></app-subtitle-form>
          <div class="grid gap-4">
            <app-select-input
              [id]="'country'"
              label="País"
              optionName="Nombre del país"
              [data]="countryOptions"
              [optionKey]="'country'"
            ></app-select-input>
            <app-select-input
              [id]="'city'"
              label="Ciudad"
              optionName="Nombre de la ciudades"
              [data]="cityOptions"
              [optionKey]="'city'"
            ></app-select-input>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Medios sociales"></app-subtitle-form>
          <div class="grid gap-4">
            <app-text-input
              [id]="'link-linkedin'"
              label="Link de Linkedin"
              placeholder="Link del perfil de LinkedIn"
              formControlName="linkedinLink"
            >
            </app-text-input>
            <app-text-input
              [id]="'link-github'"
              label="Link de GitHub"
              placeholder="Link del perfil de GitHub"
              formControlName="githubLink"
            >
            </app-text-input>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Banda salarial"></app-subtitle-form>
          <div class="grid gap-4">
            <app-radio-input [data]="currencyOptions" [labelKey]="'currency'">
            </app-radio-input>
            <div class="grid gap-4 md:grid-cols-2">
              <app-text-input
                [id]="'monto-inicial'"
                label="Monto inicial"
                placeholder="Ingrese el monto inicial"
                formControlName="initialAmount"
              >
              </app-text-input>
              <app-text-input
                [id]="'monto-final'"
                label="Monto final"
                placeholder="Ingrese el monto final"
                formControlName="finalAmount"
              >
              </app-text-input>
            </div>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Habilidades técnicas"></app-subtitle-form>
          <div class="grid gap-4">
            <app-text-input
              [id]="'habilidad-tecnica-1'"
              label="Habilidad técnica"
              placeholder="Nombre de la habilidad"
            >
            </app-text-input>
            <app-text-input
              [id]="'anios-exp-habilidad'"
              label="Años de experiencia"
              placeholder="Nro. de años"
            >
            </app-text-input>
            <app-add-skill-button></app-add-skill-button>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Habilidades blandas"></app-subtitle-form>
          <div class="grid gap-4">
            <app-text-input
              [id]="'habilidad-blanda-1'"
              label="Habilidad blanda"
              placeholder="Nombre de la habilidad"
            >
            </app-text-input>
            <app-add-skill-button></app-add-skill-button>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Experiencias laborales"></app-subtitle-form>
          <div class="grid gap-4">
            <app-text-input
              [id]="'empresa-1'"
              label="Empresa"
              placeholder="Nombre de la empresa"
            >
            </app-text-input>
            <app-checkbox-input
              [id]="'exp-fractal'"
              label="Aquí en Fractal"
            ></app-checkbox-input>
            <app-text-input
              [id]="'puesto'"
              label="Puesto"
              placeholder="Puesto en la empresa"
            >
            </app-text-input>
            <div class="grid gap-4 md:grid-cols-2">
              <app-text-input
                [id]="'anio-mes-inicio'"
                label="Año y mes de inicio"
                placeholder="Fecha de inicio"
              >
              </app-text-input>
              <app-text-input
                [id]="'anio-mes-fin'"
                label="Año y mes final"
                placeholder="Fecha de fin"
              >
              </app-text-input>
            </div>
            <app-checkbox-input
              [id]="'exp-actual'"
              label="Hasta la actualidad"
            ></app-checkbox-input>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Experiencias educativas"></app-subtitle-form>
          <div class="grid gap-4">
            <app-text-input
              [id]="'institucion'"
              label="Institución"
              placeholder="Nombre de la institución"
            >
            </app-text-input>
            <app-checkbox-input
              [id]="'edu-fractal'"
              label="Aquí en Fractal"
            ></app-checkbox-input>
            <app-text-input
              [id]="'carrera'"
              label="Carrera"
              placeholder="Nombre de la carrera"
            >
            </app-text-input>
            <app-text-input
              [id]="'grado'"
              label="Grado"
              placeholder="Grado de la carrera"
            >
            </app-text-input>
            <div class="grid gap-4 md:grid-cols-2">
              <app-text-input
                [id]="'edu-anio-mes-inicio'"
                label="Año y mes de inicio"
                placeholder="Fecha de inicio"
              >
              </app-text-input>
              <app-text-input
                [id]="'edu-anio-mes-fin'"
                label="Año y mes final"
                placeholder="Fecha de fin"
              >
              </app-text-input>
            </div>
            <app-checkbox-input
              [id]="'exp-actual1'"
              label="Hasta la actualidad"
            ></app-checkbox-input>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Idiomas"></app-subtitle-form>
          <div class="grid gap-4">
            <app-select-input
              [id]="'idioma'"
              label="Idioma"
              optionName="Nombre del idioma"
              [data]="languageOptions"
              [optionKey]="'language'"
            ></app-select-input>
            <app-select-input
              [id]="'idioma'"
              label="Nivel"
              optionName="Nivel del idioma"
              [data]="levelOptions"
              [optionKey]="'level'"
            ></app-select-input>
          </div>
        </div>

        <div class="mb-8">
          <div class="flex">
            <app-rating
              [maxRating]="5"
              [ngClass]="'flex items-center'"
            ></app-rating>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
