<section class="mx-4 md:w-[620px] md:mx-auto mt-8 border rounded-xl shadow-lg">
  <div class="flex justify-between mx-4 lg:mx-8 my-8">
    <div class="my-auto">
      <h2 class="text-2xl font-bold">Nuevo talento</h2>
      <p class="text-gray-500 text-sm md:text-base">
        Detalla al talento que deseas agregar.
      </p>
    </div>
    <div class="grid gap-2 md:grid-cols-2 my-auto">
      <a
        (click)="onButtonClick()"
        class="inline-block text-center text-[#0B85C3] bg-white border border-[#84c2e0] focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-[#c7e2f0] font-medium rounded-lg text-sm py-2.5 px-5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        Volver
      </a>
      <button
        type="button"
        (click)="logFormValues()"
        (click)="onSubmit()"
        class="focus:outline-none text-white bg-[#009689] hover:bg-[#0a655f] focus:ring-4 focus:ring-[#51f7dd] font-medium rounded-lg text-sm py-2.5 px-5 dark:bg-green-600 dark:hover:bg-[#009689] dark:focus:ring-[#0a655f]"
      >
        Guardar
      </button>
    </div>
  </div>
  <div class="overflow-y-auto h-[400px] md:h-[580px]">
    <div class="mx-10 md:mx-16">
      <form [formGroup]="createTalentForm" #form="ngForm">
        <app-subtitle-form text="Curriculum Vitae"></app-subtitle-form>
        <div class="grid gap-4" formArrayName="filesList">
          <div
            class="grid gap-4"
            *ngFor="let fileControl of fileList.controls; let i = index"
            [formGroupName]="i"
          >
            <app-text-input
              [id]="'nombre_archivo' + i"
              label="Nombre del archivo"
              placeholder="Ingrese el nombre del archivo"
              formControlName="fileName"
              [hasError]="isValidField('filesList.' + i + '.fileName')"
            >
            </app-text-input>
            <span
              *ngIf="isValidField('filesList.' + i + '.fileName')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("filesList." + i + ".fileName") }}
            </span>
            <app-text-input
              [id]="'tipo_archivo' + i"
              label="Tipo de archivo"
              placeholder="Ingrese el tipo del archivo"
              formControlName="fileType"
              [hasError]="isValidField('filesList.' + i + '.fileType')"
            >
            </app-text-input>
            <span
              *ngIf="isValidField('filesList.' + i + '.fileType')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("filesList." + i + ".fileType") }}
            </span>

            <app-file-input
              [id]="'cv' + i"
              title="Curriculum Vitae"
              description="PDF (Max. 800x400 px)"
              [accept]="'application/pdf'"
              formControlName="file"
              [hasError]="isValidField('filesList.' + i + '.file')"
            ></app-file-input>
            <span
              *ngIf="isValidField('filesList.' + i + '.file')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("filesList." + i + ".file") }}
            </span>
          </div>
        </div>

        <app-subtitle-form text="Foto de perfil"></app-subtitle-form>
        <app-file-input
          [id]="'foto_perfil'"
          title="Foto de perfil"
          description="JPEG o PNG (Max. 800x400 px)"
          [accept]="'image/png, image/jpeg'"
          formControlName="image"
          [hasError]="isValidField('image')"
        ></app-file-input>
        <span
          *ngIf="isValidField('image')"
          class="font-medium text-red-500 leading-tight"
        >
          {{ getFieldError("image") }}
        </span>

        <div class="mb-8">
          <app-subtitle-form text="Datos"></app-subtitle-form>
          <div class="grid gap-4">
            <app-text-input
              [id]="'nombre'"
              label="Nombre"
              placeholder="Ingrese el nombre"
              formControlName="name"
              [hasError]="isValidField('name')"
            >
            </app-text-input>
            <span
              *ngIf="isValidField('name')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("name") }}
            </span>
            <app-text-input
              [id]="'apellido-paterno'"
              label="Apellido paterno"
              placeholder="Ingrese el apellido paterno"
              formControlName="paternalSurname"
              [hasError]="isValidField('paternalSurname')"
            >
            </app-text-input>
            <span
              *ngIf="isValidField('paternalSurname')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("paternalSurname") }}
            </span>
            <app-text-input
              [id]="'apellido-materno'"
              label="Apellido materno"
              placeholder="Ingrese el apellido materno"
              formControlName="maternalSurname"
              [hasError]="isValidField('maternalSurname')"
            >
            </app-text-input>
            <app-form-error
              *ngIf="
                createTalentForm.controls['maternalSurname'].invalid &&
                createTalentForm.controls['maternalSurname'].touched
              "
              [control]="createTalentForm.controls['maternalSurname']"
            ></app-form-error>
            <app-text-input
              [id]="'numero-telefono'"
              label="Numero de celular"
              placeholder="Ingrese el numero de celular"
              formControlName="cellPhoneNumber"
              [hasError]="isValidField('cellPhoneNumber')"
            >
            </app-text-input>
            <span
              *ngIf="isValidField('cellPhoneNumber')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("cellPhoneNumber") }}
            </span>
            <app-textarea-select
              [variant]="'textarea'"
              [label]="'Descripción'"
              [placeholder]="'Ingrese la descripción del talento'"
              formControlName="description"
              [hasError]="isValidField('description')"
            ></app-textarea-select>
            <span
              *ngIf="isValidField('description')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("description") }}
            </span>
            <app-select-input
              [id]="'profile'"
              label="Perfil"
              optionName="Escoge tu perfil"
              [data]="profilesOptions"
              [optionKey]="'profile'"
              (optionSelected)="onProfileSelected($event)"
              [hasError]="isValidField('profileId')"
            ></app-select-input>
            <span
              *ngIf="isValidField('profileId')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("profileId") }}
            </span>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Paises"></app-subtitle-form>
          <div class="grid gap-4">
            <app-select-input
              [id]="'country'"
              label="País"
              optionName="Nombre del país"
              [data]="countryOptions"
              [optionKey]="'country'"
              (optionSelected)="onCountrySelected($event)"
              [hasError]="isValidField('countryId')"
            ></app-select-input>
            <span
              *ngIf="isValidField('countryId')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("countryId") }}
            </span>
            <app-select-input
              [id]="'city'"
              label="Ciudad"
              optionName="Nombre de la ciudades"
              [data]="cityOptions"
              [optionKey]="'city'"
              (optionSelected)="onCitySelected($event)"
              [hasError]="isValidField('cityId')"
            ></app-select-input>
            <span
              *ngIf="isValidField('cityId')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("cityId") }}
            </span>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Medios sociales"></app-subtitle-form>
          <div class="grid gap-4">
            <app-text-input
              [id]="'link-linkedin'"
              label="Link de Linkedin"
              placeholder="Link del perfil de LinkedIn"
              formControlName="linkedinLink"
              [hasError]="isValidField('linkedinLink')"
            >
            </app-text-input>
            <span
              *ngIf="isValidField('linkedinLink')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("linkedinLink") }}
            </span>
            <app-text-input
              [id]="'link-github'"
              label="Link de GitHub"
              placeholder="Link del perfil de GitHub"
              formControlName="githubLink"
              [hasError]="isValidField('githubLink')"
            >
            </app-text-input>
            <span
              *ngIf="isValidField('githubLink')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("githubLink") }}
            </span>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Banda salarial"></app-subtitle-form>
          <div class="grid gap-4">
            <app-radio-input
              [data]="currencyOptions"
              [labelKey]="'currency'"
              (optionSelected)="onCurrencySelected($event)"
              [hasError]="isValidField('currencyId')"
            >
            </app-radio-input>
            <span
              *ngIf="isValidField('currencyId')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("currencyId") }}
            </span>
            <div class="grid gap-4 md:grid-cols-2">
              <app-text-input
                [id]="'monto-inicial'"
                label="Monto inicial"
                placeholder="Ingrese el monto inicial"
                formControlName="initialAmount"
                [hasError]="isValidField('initialAmount')"
              >
              </app-text-input>
              <app-text-input
                [id]="'monto-final'"
                label="Monto final"
                placeholder="Ingrese el monto final"
                formControlName="finalAmount"
                [hasError]="isValidField('finalAmount')"
              >
              </app-text-input>
            </div>
            <div class="grid gap-4 md:grid-cols-2">
              <span
                *ngIf="isValidField('initialAmount')"
                class="font-medium text-red-500 leading-tight"
              >
                {{ getFieldError("initialAmount") }}
              </span>
              <span
                *ngIf="isValidField('finalAmount')"
                class="font-medium text-red-500 leading-tight"
              >
                {{ getFieldError("finalAmount") }}
              </span>
            </div>
            <span
              *ngIf="createTalentForm.errors?.['amountInvalid'] && createTalentForm.touched"
              class="font-medium text-red-500 leading-tight"
            >
              El monto final debe ser mayor que el monto inicial
            </span>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Habilidades técnicas"></app-subtitle-form>
          <div class="grid gap-4">
            <div class="grid gap-4" formArrayName="technicalSkillsList">
              <div
                class="grid gap-4"
                *ngFor="
                  let skillGroup of technicalSkills.controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <app-text-input
                  [id]="'habilidad-tecnica-' + i"
                  label="Habilidad técnica"
                  placeholder="Nombre de la habilidad"
                  formControlName="skill"
                  [hasError]="
                    (!skillGroup.get('skill')?.valid &&
                      skillGroup.get('skill')?.touched) ||
                    false
                  "
                >
                </app-text-input>
                <span
                  *ngIf="isValidField('technicalSkillsList.' + i + '.skill')"
                  class="font-medium text-red-500 leading-tight"
                >
                  {{ getFieldError("technicalSkillsList." + i + ".skill") }}
                </span>
                <app-text-input
                  [id]="'anios-exp-habilidad-' + i"
                  label="Años de experiencia"
                  placeholder="Nro. de años"
                  formControlName="years"
                  [hasError]="
                    (!skillGroup.get('years')?.valid &&
                      skillGroup.get('years')?.touched) ||
                    false
                  "
                >
                </app-text-input>
                <span
                  *ngIf="isValidField('technicalSkillsList.' + i + '.years')"
                  class="font-medium text-red-500 leading-tight"
                >
                  {{ getFieldError("technicalSkillsList." + i + ".years") }}
                </span>
              </div>
            </div>
            <button
              type="button"
              class="text-start font-bold text-cyan-500"
              (click)="addNewTechnicalSkill()"
            >
              +<span class="hover:underline">Agregar más</span>
            </button>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Habilidades blandas"></app-subtitle-form>
          <div class="grid gap-4" formArrayName="softSkillsList">
            <div
              class="grid gap-4"
              *ngFor="let skillGroup of softSkills.controls; let i = index"
              [formGroupName]="i"
            >
              <app-text-input
                [id]="'habilidad-blanda-' + i"
                label="Habilidad blanda"
                placeholder="Nombre de la habilidad"
                formControlName="skill"
                [hasError]="
                  (!skillGroup.get('skill')?.valid &&
                    skillGroup.get('skill')?.touched) ||
                  false
                "
              >
              </app-text-input>
              <span
                *ngIf="isValidField('softSkillsList.' + i + '.skill')"
                class="font-medium text-red-500 leading-tight"
              >
                {{ getFieldError("softSkillsList." + i + ".skill") }}
              </span>
            </div>
            <button
              type="button"
              class="text-start font-bold text-cyan-500"
              (click)="addNewSoftSkill()"
            >
              +<span class="hover:underline">Agregar más</span>
            </button>
          </div>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Experiencias laborales"></app-subtitle-form>
          <app-work-experience-form
            (inputChange)="handleInputChangeArray($event)"
            [createTalentForm]="createTalentForm"
            [getFieldError]="getFieldError.bind(this)"
            [isValidField]="isValidField.bind(this)"
          ></app-work-experience-form>
        </div>

        <div class="mb-8">
          <app-subtitle-form text="Experiencias educativas"></app-subtitle-form>

          <app-educational-experience-form
            (inputChange)="handleInputChangeArray($event)"
            [createTalentForm]="createTalentForm"
            [getFieldError]="getFieldError.bind(this)"
            [isValidField]="isValidField.bind(this)"
          ></app-educational-experience-form>
        </div>

        <div
          class="mb-8"
          *ngFor="let language of languageList.controls; let i = index"
          [formGroupName]="i"
        >
          <app-subtitle-form text="Idiomas"></app-subtitle-form>
          <div class="grid gap-4">
            <app-select-input
              [id]="'idioma' + i"
              label="Idioma"
              optionName="Nombre del idioma"
              [data]="languageOptions"
              [optionKey]="'language'"
              (optionSelected)="onLanguageSelected($event, i)"
              [hasError]="isValidField('languagesList.' + i + '.languageId')"
            ></app-select-input>
            <span
              *ngIf="isValidField('languagesList.' + i + '.languageId')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("languagesList." + i + ".languageId") }}
            </span>
            <app-select-input
              [id]="'nivel' + i"
              label="Nivel"
              optionName="Nivel del idioma"
              [data]="levelOptions"
              [optionKey]="'level'"
              (optionSelected)="onLevelSelected($event, i)"
              [hasError]="isValidField('languagesList.' + i + '.levelId')"
            ></app-select-input>
            <span
              *ngIf="isValidField('languagesList.' + i + '.levelId')"
              class="font-medium text-red-500 leading-tight"
            >
              {{ getFieldError("languagesList." + i + ".levelId") }}
            </span>
          </div>
          <div class="mt-8">
            <div class="flex">
              <app-rating
                [maxRating]="5"
                [ngClass]="'flex items-center'"
                formControlName="numberOfStars"
                (ratingChangeEmitter)="onRatingChange($event, i)"
              ></app-rating>
              <span
                *ngIf="isValidField('languagesList.' + i + '.numberOfStars')"
                class="font-medium text-red-500 leading-tight"
              >
                {{ getFieldError("languagesList." + i + ".numberOfStars") }}
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
