<div class="flex flex-col justify-center w-full gap-2">
  <div class="flex justify-between items-center">
    <h4 class="font-semibold text-md text-gray-500 dark:text-gray-400">
      {{ main_title }}
    </h4>
    <button
      [attr.data-modal-target]="modal_id"
      [attr.data-modal-toggle]="modal_id"
      (click)="setAddModalTitle()"
    >
      <i class="fa-solid fa-plus text-gray-500"></i>
    </button>
  </div>

  <div
    *ngFor="let _ of [].constructor(number_items)"
    class="flex justify-start items-center p-2 gap-2 rounded-md bg-gray-50 hover:bg-gray-200 shadow-sm-light"
  >
    <img
      *ngIf="has_image"
      class="h-12 rounded-full"
      src="../../../assets/fractal (1).png "
      alt=""
    />
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col justify-center item">
        <h1 class="font-medium text-xl text-black dark:text-gray-400">
          {{ title }}
        </h1>
        <div class="flex justify-between gap-2 w-full">
          <p class="text-md font-normal text-gray-500 dark:text-gray-400">
            {{ description }}
          </p>
          <!-- <p class="text-md font-normal text-gray-500 dark:text-gray-400">
            Desarrollador Full-Stack
          </p>
          <span class="text-md font-normal text-gray-500 dark:text-gray-400">
            2015 - 2021
          </span>
          <span class="text-md font-normal text-gray-500 dark:text-gray-400">
            6 años
          </span> -->
        </div>
      </div>
      <button
        [attr.data-modal-target]="modal_id"
        [attr.data-modal-toggle]="modal_id"
        (click)="setEditModalTitle()"
      >
        <span
          class="material-symbols-outlined text-gray-600 dark:text-slate-100"
        >
          edit
        </span>
      </button>
    </div>
  </div>
</div>
<app-experience-modal-form
  *ngIf="type == 'exp'"
  title="{{ modalTitle }}"
  description="{{ modalDescription }}"
></app-experience-modal-form>
<app-education-modal-form
  *ngIf="type == 'edu'"
  title="{{ modalTitle }}"
  description="{{ modalDescription }}"
></app-education-modal-form>
<app-language-modal-form
  *ngIf="type == 'lang'"
  title="{{ modalTitle }}"
  description="{{ modalDescription }}"
></app-language-modal-form>
