<app-base-modal-form
  [id]="modal_id"
  title="Edita tu experiencia"
  description="La vida esta llena de cambios. Edita tu experiencia laboral."
>
  <form [formGroup]="workExperienceForm" (ngSubmit)="submitForm()">
    <div class="mb-8">
      <div class="grid gap-4">
        <app-text-input
          [id]="'empresa-' + id"
          label="Empresa"
          placeholder="Nombre de la empresa"
          [value]="companyValue"
          [isDisabled]="disableTextInput"
          formControlName="company"
        >
        </app-text-input>

        <app-checkbox-input
          [id]="'checkboxWorkingHereEdit' + id"
          label="Aquí en Fractal"
          [isChecked]="isCompanyFractal"
          (isCheckedChange)="companyIfChecked($event)"
          formControlName="isCompanyFractal"
        ></app-checkbox-input>
        <app-text-input
          [id]="'puesto' + id"
          label="Puesto"
          [value]="positionValue"
          placeholder="Puesto en la empresa"
          formControlName="position"
        >
        </app-text-input>

        <div class="grid gap-4 md:grid-cols-2">
          <app-date-input
            [id]="'anio-mes-inicio' + id"
            [value]="startDateValue"
            label="Año y mes de inicio"
            placeholder="Fecha de inicio"
            formControlName="startDate"
          >
          </app-date-input>

          <app-date-input
            [id]="'anio-mes-fin' + id"
            label="Año y mes final"
            placeholder="Fecha de fin"
            [value]="endDateValue"
            [isDisabled]="disableEndDateInput"
            formControlName="endDate"
          >
          </app-date-input>
        </div>
        <div class="grid gap-4 md:grid-cols-2"></div>
        <app-checkbox-input
          [id]="'edit-checkboxCurrentlyWorking' + id"
          label="Hasta la actualidad"
          [isChecked]="isCurrentlyWorking"
          (isCheckedChange)="endDateIfChecked($event)"
          formControlName="isCurrentlyWorking"
        ></app-checkbox-input>
      </div>
    </div>
    <app-cancel-save-buttons
      [modal_id]="modal_id"
      [save_button_id]="'save-experience' + id"
      [form]="workExperienceForm"
      (cancelClicked)="cancelForm()"
    ></app-cancel-save-buttons>
  </form>
</app-base-modal-form>
